@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Ubuntu+Mono:wght@400;700&display=swap');

:root{
    --cor-primaria: rgb(115, 114, 114);
    --cor-secundaria: white;
    --cor-terciaria: rgba(225, 225, 35, 0.952);

    --font-principal: 'Ubuntu Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--font-principal);
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--font-principal);
    font-weight: 700;
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--font-principal);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-principal);
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--font-principal);
    font-size: 23px;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--cor-secundaria);
    border-radius: 8px;
    font-size: 1.38rem;
    font-family: var(--font-principal);
    border: 3px solid var(--cor-terciaria);
    width: 50%;
    padding: 19px 0;
    text-align: center;
    text-decoration: none;
}
.apresentacao__links__links:hover{
    background-color: black;
}

.apresentacao__links__icons{
    width: 35px;
    height: 35px;
    text-align: center;
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    color: black;
    background-color: var(--cor-terciaria);
    font-family: var(--font-principal);
    padding: 23px;
    font-size: 1.38rem;
    font-weight: 700;
    text-align: center;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

@media (max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        padding: 5%;
        flex-direction: column-reverse;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}